<p id="notice"><%= notice %></p>

<p>
  <b> Target:</b>
  <%= @bkdetail.targetValue %>
</p>

<p>
  <b> Actual:</b>
  <%= @bkdetail.actualValue %>
</p>

<p>
  <b> Notes</b>
  <%= @bkdetail.notes %>
</p>


<%= link_to 'Edit', edit_bkdetail_path %> |
<%= link_to 'Back', bkdetails_path %>



