<h4>Branch Kpi Details </h1>

<table class="table">
	
  <thead> 
        <th>Branch Name</th>
        <th>Kpi Category</th>
        <th>KPi Name</th>
        <th>KPI Frequency</th>        
  </thead>  

<% @mapped_kpi_ids.each do |mapped_kpi_id| %>
	<tr>	 
		<td><%= mapped_kpi_id.business.branchname%></td>
	    <td><%= mapped_kpi_id.kpi.KPICategory%></td>
	    <td><%= mapped_kpi_id.kpi.KPIName%></td>	  	  
	    <td><%= mapped_kpi_id.kpi.KPIEntryPeriod%></td>	       
	    <td><%= link_to 'Add Data',new_bkdata_path(:kpi_id => mapped_kpi_id.kpi_id,:business_id => @business.id),:class=> [:btn, :"btn-success"]%></td>   	    
	</tr>
<% end %> 






  

		
