<p id="notice"><%= notice %></p>

<p>
  <b> Target:</b>
  <%= @bk_data.targetValue %>
</p>

<p>
  <b> Actual:</b>
  <%= @bk_data.actualValue %>
</p>

<p>
  <b> Notes</b>
  <%= @bk_data.notes %>
</p>



<%= link_to 'Edit', edit_bkdata_path %> |
<%= link_to 'Back', bkdata_path %>

